<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- bootstrap 추가 -->
  <link rel="stylesheet" href="../../resource/css/bootstrap.css">
  <style>
    /* * {
      border: 1px solid red;
    } */

    nav a {
      font-size: 2.5rem;
      font: black;
    }

    nav>.container-fluid {
      background-color: rgb(182, 151, 240);
    }

    .navbar-toggler {
      height: 150px;
      width: 150px;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 200px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../resource/image/케어풀 임시 아이콘.png" alt="" width="150px" height="100%">
        </a>

        <div style="padding-left: 100px;"></div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">소개</a>
            </li>

            <div style="padding-left: 100px;"></div>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                매칭
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">매칭검색</a></li>
              </ul>
            </li>

            <div style="padding-left: 100px;"></div>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                서비스
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">쪽지</a></li>
                <li><a class="dropdown-item" href="#">지도</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fas fa-user"></i>로그인</a></li>

            <div style="padding-left: 80px;"></div>

            <li><a href="#"><i class="fas fa-sign-in-alt"></i>가입</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- jQuery, js 추가 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../resource/js/bootstrap.js"></script>
</body>

</html>