@charset "UTF-8";

	#mucenter {
        text-align:center;
    }

    /* 폼이 화면 끝까지 가서 줄이기 위해 필요한 부분 */
    form{
        width: fit-content;
        text-align: center;
    }

    /* 꾸며야하는 앞에 항목 */
    #firstTitle{     
        /* border: 1px solid green; */
        width: fit-content;
    }

    /* 환자를 보여주기에 따른 표시필요 부분 */
    #bigTitle{
        border: 1px solid blue;
        width: fit-content;
    }

    #pointer{
        background-color: rgb(109, 109, 109);
        color: honeydew;
        height: 45px;
    }